<footer>
    <div id="backtop">
        <i class='bx bx-chevron-up'></i>
    </div>
    <div id="contact" class="footer-left">
        <img src="logo.png" width="120px" height="auto" alt="Logo"/>
        <b>Quản Lý Khách Sạn</b>
    </div>
    <div class="footer-center">
        <p>
            <a href="#" title="Nhấn để xem bản đồ"><b>Địa chỉ:</b> 111B Lý Chính Thắng, Võ Thị Sáu, Quận 3, TP Hồ Chí Minh</a><br>
            <b>Giờ mở cửa:</b> Cả ngày (Thứ Hai - Chủ Nhật)<br>
            <b>Số điện thoại:</b> <span><a href="tel:02835267667" title="Nhấn để gọi">028 3526 7667</a></span><br>
        </p>
    </div>
</footer>
<!--<div class="minus">-->
<!--    <a href= "mailto:minusxix@gmail.com">Developed By Min Yoon &#169 2023</a>-->
<!--</div>-->